* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
img {
  max-width: 100%;
}

header {
  background: #282828;
}
.container {
  width: 1200px;
  margin: auto;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.logo {
  flex-basis: 15%;
  max-width: 15%;
  padding: 15px;
}
.logo a {
  text-decoration: none;
}
.logo a > h2 {
  max-width: 100%;
  color: #fff;
  text-decoration: none;
}
nav {
  flex-basis: 85%;
}
nav ul {
  list-style: none;

  justify-content: flex-end;
}
nav ul li {
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  padding: 20px;
}
nav ul li a:hover {
  color: green;
}
.about-us {
  padding: 100px 0;
}
.about-us h1 {
  font-size: 100px;
  line-height: 0.9em;
  color: #414040;
}
.about-us p {
  font-size: 22px;
  color: #414040;
  font-weight: 500;
  margin-top: 10px;
}
.gallery {
  background: #f6f6f6;
}
.col {
  flex-basis: 25%;
}
.col img {
  max-width: 100%;
  height: 300px;
  width: 250px;
  padding: 10px;
}
.shop {
  padding: 120px 50;
}
.product-img,
.product-details {
  flex-basis: 40%;
  max-width: 40%;
  padding: 8px;
}
.product-img .flex div {
  flex-basis: 25%;
  max-width: 25%;
  padding: 5px;
}
.product-img .flex div img {
  height: 102px;
  width: 100%;
  object-fit: cover;
}
.product-details h2 {
  font-size: 30px;
  font-weight: 900;
}
.product-details h3 {
  font-size: 25px;
  font-weight: 900;
}
.product-details span {
  text-decoration: line-through;
  font-weight: 500;
  color: #666;
  font-size: 20px;
}

.product-details p {
}
.product-details ul {
  list-style: none;
  display: flex;
}
.product-details ul li {
  padding: 5px;
}
.product-details ul li span {
  width: 40px;
  height: 40px;
  display: block;
}
.red1 {
  background: rgb(252, 147, 147);
}
.red2 {
  background: rgb(153, 18, 18);
}
.red3 {
  background-color: rgb(240, 74, 74);
}
.red4 {
  background: rgb(248, 47, 47);
}
.product-details button {
  background-color: #282828;
  color: #fff;
  padding: 10px 60px;
  font-size: 24px;
  border: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
